
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/APP/appStart.js"></script>
    <script src="~/Scripts/APP/controllers/controllers.js"></script>
    <script src="~/Scripts/APP/directives/directives.js"></script>
</head>
<body ng-app="invoice">
    <div ng-controller="test">
        
        <ez-select herf="hahahhaha"></ez-select>
    </div>
    
</body>
</html>
