@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/APP/appStart.js"></script>
    <script src="~/Scripts/APP/controllers/controllers.js"></script>
    <script src="~/Scripts/APP/directives/directives.js"></script>
    <script src="~/Scripts/APP/services/services.js"></script>
    <style>
        .postSelect {
            padding: 5px;
        }
    </style>

</head>
<body ng-app="invoice">


    <post-select sourceherf="/Home/GetList" attrname="ComType"></post-select>
    <post-select sourceherf="/Home/GetList" attrname="ComType"></post-select>

    @*<post-table sourceherf="/Home/GetTable">
        <tr>
            <td><input type="text" value="123" /> </td>
            <td><input type="text" value="123" /></td>
            <td><input type="text" value="123" /></td>

        </tr>
    </post-table>*@
    
    <test>
        
    </test>
    
        <script>

        </script>

</body>
</html>
